<div class="details" ng-if="hasProtocol(motion)">
  <div class="row">
     <div class="motion-toolbar">
       <div class="pull-right inline-editing-activator">
         <button ng-click="openProtocolDialog(motion)" class="btn btn-sm btn-default">
           <i class="fa fa-pencil"></i>
         </button>
       </div>
       <h3 class="toolbar-left" translate>Protocol</h3>
     </div>
     <div class="col-sm-12">
       <div ng-bind-html="getProtocol(motion) | trusted"></div>
     </div>
   </div>
</div>
