<style type="text/css">
.protocol .container, .protocol .container .col-md-6.left {
    padding-left: 0;
    margin-left: 0;
}
.protocol .type-container {
    padding: 0px 10px;
    margin: 10px 0px;
}
.protocol .type-container h2 {
    margin-top: 10px;
    margin-bottom: 0px;
}
.protocol .type-container > div {
    padding: 10px 10px;
    border: 1px solid #ddd;
}
.protocol .type-container .header {
    border-top: 1px solid #ddd !important;
    background-color: #f5f5f5 !important;
}
.protocol .type-container .search {
    padding: 5px;
}
.protocol .type-container .entries {
    overflow: hidden;
}
.protocol .type-container .empty {
  color: #9a9898;
}
.protocol .type-container button {
    margin-bottom: 2px;
}
.protocol .indent {
  margin-left: 20px;
}
.protocol .buttons-right {
    float: right;
    margin-right: 20px;
}
.protocol .type-info {
    color: #999;
    font-size: 12px;
}
</style>

<div class="header">
  <div class="title">
    <div class="submenu">
      <span ng-if="activeTab == 'preview'">
      <button type="button" os-perms="openslides_protocol.can_write_protocol"
        class="btn btn-default btn-sm" ng-click="selectProtocol()">
        <i class="fa fa-i-cursor fa-lg"></i>
        <translate>Select all</translate>
      </button>
      </span>
    </div>
    <h1 translate>Protocol</h1>
  </div>
</div>

<div class="details protocol">
  <uib-tabset active="activeTab">
    <uib-tab index="'create'" heading="{{ 'Create' | translate }}">
      <div class="container">
        <div class="col-md-6 left">

          <div class="type-container">
            <div class="header">
              <h2>
                <translate>Agenda</translate>
                <small> &mdash; {{ itemsFiltered.length }}/{{ items.length }}</small>
                <span class="pull-right pointer" ng-click="collapseAgenda=!collapseAgenda">
                  <i class="fa" ng-class="collapseAgenda ? 'fa-caret-down' : 'fa-caret-up'"></i>
                </span>
              </h2>
            </div>
            <div class="entries" ng-show="!collapseAgenda">
              <span class="form-group search">
                <span class="input-group">
                  <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  <input type="text" ng-model="itemProtocolFilterString" class="form-control"
                    placeholder="{{ 'Search' | translate}}">
                </span>
              </span>
              <div ng-repeat="item in itemsFiltered = (items
                | notUsed : protocol : 'itemProtocol'
                | osFilter : itemProtocolFilterString : getItemProtocolQueryString)">
                <button type="button" class="btn btn-default btn-sm" ng-click="protocol.add(item)">
                  <i class="fa fa-plus"></i>
                  {{ item.agenda_item.getTitle() | plaintextLimit : 60 }}
                </button>
              </div>
              <div ng-if="itemsFiltered.length === 0">
                <small class="empty">(<translate>empty</translate>)</small>
              </div>
            </div>
          </div>

          <div class="type-container">
            <div class="header">
              <h2>
                <translate>Motions</translate>
                <small> &mdash; {{ motionsFiltered.length }}/{{ motions.length }}</small>
                <span class="pull-right pointer" ng-click="collapseMotions=!collapseMotions">
                  <i class="fa" ng-class="collapseMotions ? 'fa-caret-down' : 'fa-caret-up'"></i>
                </span>
              </h2>
            </div>
            <div class="entries" ng-show="!collapseMotions">
              <span class="form-group search">
                <span class="input-group">
                  <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  <input type="text" ng-model="motionFilterString" class="form-control"
                    placeholder="{{ 'Search' | translate}}">
                </span>
              </span>
              <div ng-repeat="motion in motionsFiltered = (motions
                | notUsed : protocol : 'motion'
                | osFilter : motionFilterString : getMotionQueryString)
                | orderByEmptyLast : 'identifier'">
                <button type="button" class="btn btn-default btn-sm" ng-click="protocol.add(motion)">
                  <i class="fa fa-plus"></i>
                  <span ng-if="motion.identifier">
                    {{ motion.identifier }}:
                  </span>
                    {{ motion.getTitle() | plaintextLimit : 60 }}
                </button>
              </div>
              <div ng-if="motionsFiltered.length === 0">
                <small class="empty">(<translate>empty</translate>)</small>
              </div>
            </div>
          </div>

          <div class="type-container">
            <div class="header">
              <h2>
                <translate>Elections</translate>
                <small> &mdash; {{ assignmentsFiltered.length }}/{{ assignments.length }}</small>
                <span class="pull-right pointer" ng-click="collapseAssignments=!collapseAssignments">
                  <i class="fa" ng-class="collapseAssignments ? 'fa-caret-down' : 'fa-caret-up'"></i>
                </span>
              </h2>
            </div>
            <div class="entries" ng-show="!collapseAssignments">
              <span class="form-group search">
                <span class="input-group">
                  <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  <input type="text" ng-model="assignmentFilterString" class="form-control"
                    placeholder="{{ 'Search' | translate}}">
                </span>
              </span>
              <div ng-repeat="assignment in assignmentsFiltered = (assignments
                | orderBy : 'title'
                | notUsed : protocol : 'assignment'
                | osFilter : assignmentsFilterString : getAssignmentQueryString)">
                <button type="button" class="btn btn-default btn-sm" ng-click="protocol.add(assignment)">
                  <i class="fa fa-plus"></i>
                  {{ assignment.agenda_item.getTitle() || assingment.title | plaintextLimit : 60 }}
                </button>
              </div>
              <div ng-if="assignmentsFiltered.length === 0">
                <small class="empty">(<translate>empty</translate>)</small>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <h3 translate>Protocol</h3>
          <div class="spacer-top spacer-bottom">
            <button type="button" class="btn btn-default btn-sm" ng-click="addFreeText()">
              <i class="fa fa-plus"></i>
              <translate>Free text</translate>
            </button>
          </div>

          <div ui-tree="treeOptions" data-empty-placeholder-enabled="false">
            <ol ui-tree-nodes="" ng-model="protocol.protocol">
              <li ui-tree-node ng-repeat="entry in protocol.protocol">
                <i ui-tree-handle="" class="fa fa-arrows-v spacer-right"></i>

                <span ng-if="entry.type === 'text'">
                  <span ng-if="entry.title">
                    {{ (entry.title + ': ' + entry.text) | plaintextLimit : 30 }}
                    <span class="type-info">(<translate>Free text</translate>)</span>
                  </span>
                  <span ng-if="!entry.title">
                    {{ entry.text | plaintextLimit : 30 }}
                    <span class="type-info">(<translate>Empty free text</translate>)</span>
                  </span>
                </span>
                <span ng-if="entry.type === 'topics/topic'">
                  {{ getObject(entry).agenda_item.getListViewTitle() | plaintextLimit : 30 }}
                </span>
                <span ng-if="entry.type === 'motions/motion'">
                    {{ getObject(entry).identifier ? getObject(entry).identifier + ' -' : '' }}
                    {{ getObject(entry).getTitle() | plaintextLimit : 30 }}
                </span>
                <span ng-if="entry.type === 'assignments/assignment'">
                  {{ getObject(entry).title | plaintextLimit : 30 }}
                </span>
                <span ng-if="entry.type !== 'text'">
                  <span class="type-info">({{ getTypeVerboseName(entry) | translate }})</span>
                </span>

                <span class="buttons-right">
                  <button type="button" class="btn btn-default btn-sm" ng-click="edit(entry)">
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button type="button" class="btn btn-default btn-sm" ng-click="protocol.remove(entry)">
                    <i class="fa fa-minus"></i>
                  </button>
                </span>
              </li>
            </ol>
          </div>

        </div>
      </div>
    </uib-tab>
    <uib-tab index="'preview'" heading="{{ 'Preview' | translate }}">
      <div id="selectContainer">
        <h1 translate>Protocol</h1>
        <div ng-repeat="entry in protocol.protocol">

          <div ng-if="entry.type === 'text'">
            <h2>{{ entry.title }}</h2>
            <p class="indent" ng-bind-html="entry.text | trusted"></p>
          </div>

          <div ng-if="entry.type === 'topics/topic'">
            <h2>{{ getObject(entry).agenda_item.getListViewTitle() }}</h2>
            <p class="indent" ng-bind-html="getObject(entry).text | trusted"></p>
          </div>

          <div ng-if="entry.type === 'motions/motion'">
            <h2><translate>Motion</translate> {{ getObject(entry).identifier ? getObject(entry).identifier + ' - ' : '' }}{{ getObject(entry).getTitle() }}</h2>
            <div class="indent">
              <strong translate>State</strong>:
               <span class="label" ng-class="'label-' + getObject(entry).state.css_class">
                 {{ getObject(entry).getStateName() }}
               </span>
            </div>
            <div class="indent">
              <strong translate>Submitters</strong>:
              <span ng-repeat="submitter in getObject(entry).submitters">
                {{ submitter.get_full_name() }}<span ng-if="!$last">, </span>
              </span>
            </div>
            <div class="spacer-top indent"><p>{{ config('motions_preamble') | translate }}</p></div>
            <div ng-bind-html="getObject(entry).getTextByMode('agreed') | trusted"
              class="indent motion-text motion-text-changed line-numbers-{{ config('motions_default_line_numbering') }}"></div>
            <div class="indent" ng-if="getObject(entry).getReason() && config('protocol_motion_reason')">
              <h2 translate>Reason</h2>
              <div ng-bind-html="getObject(entry).getReason() | trusted"></div>
            </div>
          </div>

          <div ng-if="entry.type === 'assignments/assignment'">
            <h2>{{ getObject(entry).title }}</h2>
            <div>
              <strong translate>Phase</strong>:
              <span class="label" ng-class="{'label-primary': getObject(entry).phase == 0,
                                             'label-warning': getObject(entry).phase == 1,
                                             'label-success': getObejct(entry).phase == 2 }">
                {{ phases[getObject(entry).phase].display_name | translate }}
              </span>
            </div>
            <div ng-if="getObject(entry).description">
              <strong translate>Description</strong>:
              <div ng-bind-html="getObject(entry).description | trusted"></div>
            </div>
            <div ng-if="getObject(entry).polls.length > 0">
              <div ng-repeat="poll in getObject(entry).polls | orderBy:'id'">
                <strong><translate>Ballot</translate> {{ poll.id }}:</strong>
                <p ng-repeat="option in poll.options | orderBy:'weight'" class="spacer-left-lg">
                  {{ option.candidate.get_full_name() }}<br>
                  <span ng-if="option.is_elected">(<translate>elected</translate>)</span>
                  <span ng-init="votes = option.getVotes()">
                    <span ng-repeat="vote in votes">
                      <span ng-if="poll.pollmethod == 'yna' || poll.pollmethod == 'yn'">{{ vote.label }}:</span>
                      {{ vote.value }} {{ vote.percentStr }}
                      <span ng-hide="$last">&middot;</span>
                    </span>
                  </span>
                </p>
              </div>
            </div>
          </div>

          <div class="indent" ng-if="hasProtocol(entry)">
            <h3 translate>Protocol</h3>
            <div ng-bind-html="getProtocol(entry) | trusted"></div>
          </div>

        </div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
