{% extends 'base.html' %}

{% load i18n %}
{% load mptt_tags %}
{% load tags %}

{% block title%}
    {% trans 'Protocol' %} – {{ block.super }}
{% endblock %}

{% block content %}
    <h1>{% trans 'Protocol' %}</h1>
    <p><a href="{% url 'protocol_export' %}" class="btn">{% trans 'Export protocol as LaTeX' %}</a></p>
    <ul>
        {% recursetree items %}
        <li>
            <a href="{{ node.pk }}/">{{ node }}</a>
            {% if not node.is_leaf_node %}
            <ul>
                {{ children }}
            </ul>
            {% endif %}
        </li>
        {% endrecursetree %}
    </ul>
{% endblock %}
